.navbar{
    background: rgb(91, 86, 126);
    color: white;
}

.first-nav{
    height: 20px;
    font-size: small;
}

.second-nav{
    height: 50px;
}

.nav-link {
    color: white;
    
}

.navbar-brand{
    color: white;
}

.first-body{
    background-color: gray;
    height: 600px;
    width: 100%;
}

.sec-body{
    background-image: url('../../../../backend/student/static/images/Dance-Cover.jpg');
    background-size: cover;
    width: 100%;
    height: 750px;
    margin-top: 8px ;
}

/* .sub-body{
    display: flex;
    flex-direction: row;
    background-image: url('../../../../backend/student/static/images/man.jpeg');
    background-size: cover;

    background-color: grey;
    width: 100px;
    height: 100px;

} */

.hey-body{
    background-color: gray;
    height: 600px;
    width: 100%;
    margin-top: 8px ;
}